In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Data preparation

In [2]:
df = pd.read_csv('bank_data_train_d02.csv',
                na_values='неизвестна',
                index_col='ID'); df

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,APP_REGISTR_RGN_CODE,TURNOVER_DYNAMIC_IL_1M,LDEAL_YQZ_COM_GROUP,LDEAL_YQZ_CHRG_GROUP,AVG_PCT_MONTH_TO_PCLOSE_GROUP,MAX_PCLOSE_DATE_GROUP,AVG_PCT_DEBT_TO_DEAL_AMT_GROUP,LDEAL_AMT_MONTH_GROUP,...,CLNT_SETUP_TENOR,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_DYNAMIC_PAYM_1M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,REST_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CC_3M,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
146841,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,0.0,0.0,0.483032,0.406780,0.0,0.0,0.0,0.0,0
146842,0,0.041033,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,0.0,0.0,0.394340,0.545455,0.0,0.0,0.0,0.0,0
146843,0,0.006915,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,0.0,0.0,0.399342,0.297297,0.0,0.0,0.0,0.0,0
146844,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,0.0,0.0,0.552169,0.558824,0.0,0.0,0.0,0.0,0
146845,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,0.0,0.0,0.611610,0.620690,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590822,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.963872,0.0,0.0,0.659039,0.785714,0.0,0.0,0.0,0.0,0
590823,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.963872,0.0,0.0,0.652612,0.500000,0.0,0.0,0.0,0.0,0
590825,0,0.041298,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,0.0,0.0,0.448386,0.459530,0.0,0.0,0.0,0.0,0
590826,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,0.0,0.0,1.000000,1.000000,0.0,0.0,0.0,0.0,0
590828,0,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,0.0,0.0,0.552169,0.558824,0.0,0.0,0.0,0.0,1

Feature with lots of different values

In [3]:
df.CLNT_JOB_POSITION.value_counts(dropna=False).describe()

count      9719.000000
mean         36.545941
std        1819.374737
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max      176675.000000
Name: CLNT_JOB_POSITION, dtype: float64

75% of jobs are seen 1 to 3 times.


We can keep only the most common jobs or drop this column altogether. I will try both options.

In [4]:
df.CLNT_JOB_POSITION.value_counts(dropna=False)[:50]

NaN                                   176675
директор                               24974
менеджер                               12803
генеральный директор                    7083
руководитель                            4487
инженер                                 4048
предприниматель                         3570
бухгалтер                               2960
водитель                                2191
специалист                              2188
главный бухгалтер                       2018
коммерческий директор                   2013
начальник отдела                        1892
программист                             1864
менеджер по продажам                    1839
заместитель директора                   1705
администратор                           1670
продавец                                1635
дизайнер                                1625
студент                                 1513
индивидуальный предприниматель          1403
юрист                                   1248
врач                                    1245
исполнительный директор                 1076
ип                                      1075
экономист                               1075
ведущий специалист                      1072
финансовый директор                      967
главный специалист                       954
преподаватель                            933
консультант                              902
лаборант                                 804
мастер                                   755
технический директор                     739
оператор                                 717
управляющий                              714
системный администратор                  714
ведущий инженер                          697
торговый представитель                   679
заместитель генерального директора       676
адвокат                                  629
руководитель отдела                      619
главный инженер                          596
региональный менеджер                    575
монтажник                                555
охранник                                 550
директор по развитию                     549
секретарь                                521
архитектор                               497
старший менеджер                         472
Name: CLNT_JOB_POSITION, dtype: int64

In [5]:
df.CLNT_JOB_POSITION.value_counts()[:50].sum()

106556

List of top 50 most common jobs

In [6]:
common_jobs = df.CLNT_JOB_POSITION.value_counts()[:50].index.to_list()

Change all other job types to NaN

In [7]:
df.CLNT_JOB_POSITION = df.CLNT_JOB_POSITION.apply(lambda x: x if x in common_jobs else np.nan)

In [8]:
df.CLNT_JOB_POSITION.value_counts(dropna=False)

NaN                                   248634
директор                               24974
менеджер                               12803
генеральный директор                    7083
руководитель                            4487
инженер                                 4048
предприниматель                         3570
бухгалтер                               2960
водитель                                2191
специалист                              2188
главный бухгалтер                       2018
коммерческий директор                   2013
начальник отдела                        1892
программист                             1864
менеджер по продажам                    1839
заместитель директора                   1705
администратор                           1670
продавец                                1635
дизайнер                                1625
студент                                 1513
индивидуальный предприниматель          1403
юрист                                   1248
врач                                    1245
исполнительный директор                 1076
ип                                      1075
экономист                               1075
ведущий специалист                      1072
финансовый директор                      967
главный специалист                       954
преподаватель                            933
консультант                              902
лаборант                                 804
мастер                                   755
технический директор                     739
оператор                                 717
системный администратор                  714
управляющий                              714
ведущий инженер                          697
торговый представитель                   679
заместитель генерального директора       676
адвокат                                  629
руководитель отдела                      619
главный инженер                          596
региональный менеджер                    575
монтажник                                555
охранник                                 550
директор по развитию                     549
секретарь                                521
архитектор                               497
старший менеджер                         472
кладовщик                                470
Name: CLNT_JOB_POSITION, dtype: int64

## Missing values

In [11]:
df.select_dtypes(exclude='O').isna().sum(axis=0)

CR_PROD_CNT_IL                   0
AMOUNT_RUB_CLO_PRC               0
APP_REGISTR_RGN_CODE        294645
TURNOVER_DYNAMIC_IL_1M           0
AMOUNT_RUB_SUP_PRC               0
REST_DYNAMIC_FDEP_1M             0
REST_DYNAMIC_SAVE_3M             0
CR_PROD_CNT_VCU                  0
REST_AVG_CUR                     0
AMOUNT_RUB_NAS_PRC               0
TRANS_COUNT_SUP_PRC              0
TRANS_COUNT_NAS_PRC              0
CR_PROD_CNT_TOVR                 0
CR_PROD_CNT_PIL                  0
TURNOVER_CC                      0
TRANS_COUNT_ATM_PRC              0
AMOUNT_RUB_ATM_PRC               0
TURNOVER_PAYM                    0
AGE                              0
CR_PROD_CNT_CC                   0
REST_DYNAMIC_FDEP_3M             0
REST_DYNAMIC_IL_1M               0
CR_PROD_CNT_CCFP                 0
REST_DYNAMIC_CUR_1M              0
REST_AVG_PAYM                    0
LDEAL_GRACE_DAYS_PCT_MED         0
REST_DYNAMIC_CUR_3M              0
CNT_TRAN_SUP_TENDENCY3M          0
TURNOVER_DYNAMIC_CUR_1M          0
REST_DYNAMIC_PAYM_3M             0
SUM_TRAN_SUP_TENDENCY3M          0
REST_DYNAMIC_IL_3M               0
CNT_TRAN_ATM_TENDENCY3M          0
CNT_TRAN_ATM_TENDENCY1M          0
TURNOVER_DYNAMIC_IL_3M           0
SUM_TRAN_ATM_TENDENCY3M          0
SUM_TRAN_ATM_TENDENCY1M          0
REST_DYNAMIC_PAYM_1M             0
TURNOVER_DYNAMIC_CUR_3M          0
CLNT_SETUP_TENOR                 0
TURNOVER_DYNAMIC_PAYM_3M         0
TURNOVER_DYNAMIC_PAYM_1M         0
TRANS_AMOUNT_TENDENCY3M          0
TRANS_CNT_TENDENCY3M             0
REST_DYNAMIC_CC_1M               0
TURNOVER_DYNAMIC_CC_1M           0
REST_DYNAMIC_CC_3M               0
TURNOVER_DYNAMIC_CC_3M           0
TARGET                           0
dtype: int64

In [15]:
df.APP_REGISTR_RGN_CODE.value_counts(dropna=False, normalize=True)

NaN     0.829542
77.0    0.022737
54.0    0.010518
50.0    0.009158
66.0    0.008843
          ...
6.0     0.000011
20.0    0.000011
79.0    0.000008
88.0    0.000006
83.0    0.000003
Name: APP_REGISTR_RGN_CODE, Length: 84, dtype: float64

Only one numeric column has NaNs: 83% of values are missing. It holds region codes, so it is better to drop it.

In [16]:
df.drop(columns='APP_REGISTR_RGN_CODE', inplace=True)

In [12]:
df.select_dtypes(include='O').isna().sum(axis=0)

LDEAL_YQZ_COM_GROUP                 353950
LDEAL_YQZ_CHRG_GROUP                353949
AVG_PCT_MONTH_TO_PCLOSE_GROUP       353562
MAX_PCLOSE_DATE_GROUP               353309
AVG_PCT_DEBT_TO_DEAL_AMT_GROUP      353302
LDEAL_AMT_MONTH_GROUP               353302
LDEAL_YQZ_PC_GROUP                  352382
LDEAL_DELINQ_PER_MAXYQZ_GROUP       347189
MED_DEBT_PRC_YQZ_GROUP              347189
LDEAL_USED_AMT_AVG_YQZ_GROUP        347189
LDEAL_TENOR_MIN_GROUP               347189
DEAL_YQZ_IR_MIN_GROUP               347189
DEAL_YQZ_IR_MAX_GROUP               347189
LDEAL_TENOR_MAX_GROUP               347189
CNT_TRAN_CLO_TENDENCY1M_GROUP       288894
SUM_TRAN_CLO_TENDENCY1M_GROUP       288894
CNT_TRAN_MED_TENDENCY1M_GROUP       286223
SUM_TRAN_MED_TENDENCY1M_GROUP       286223
DEAL_GRACE_DAYS_ACC_AVG_GROUP       285757
DEAL_GRACE_DAYS_ACC_MAX_GROUP       285757
DEAL_GRACE_DAYS_ACC_S1X1_GROUP      284741
SUM_TRAN_AUT_TENDENCY1M_GROUP       278078
CNT_TRAN_AUT_TENDENCY1M_GROUP       278078
LDEAL_ACT_DAYS_PCT_TR4_GROUP        261742
LDEAL_ACT_DAYS_ACC_PCT_AVG_GROUP    261742
LDEAL_ACT_DAYS_PCT_TR_GROUP         261742
LDEAL_ACT_DAYS_PCT_TR3_GROUP        261742
LDEAL_ACT_DAYS_PCT_CURR_GROUP       261742
DEAL_YWZ_IR_MIN_GROUP               259477
LDEAL_USED_AMT_AVG_YWZ_GROUP        259477
LDEAL_DELINQ_PER_MAXYWZ_GROUP       259477
DEAL_YWZ_IR_MAX_GROUP               259477
MED_DEBT_PRC_YWZ_GROUP              259477
LDEAL_ACT_DAYS_PCT_AAVG_GROUP       257015
SUM_TRAN_AUT_TENDENCY3M_GROUP       244138
CNT_TRAN_AUT_TENDENCY3M_GROUP       244138
CNT_TRAN_CLO_TENDENCY3M_GROUP       240292
SUM_TRAN_CLO_TENDENCY3M_GROUP       240292
CNT_TRAN_MED_TENDENCY3M_GROUP       239313
SUM_TRAN_MED_TENDENCY3M_GROUP       239313
CNT_TRAN_SUP_TENDENCY1M_GROUP       199195
SUM_TRAN_SUP_TENDENCY1M_GROUP       199195
CLNT_SALARY_VALUE_GROUP             354478
CLNT_TRUST_RELATION                 285769
APP_MARITAL_STATUS                  286973
APP_KIND_OF_PROP_HABITATION         295829
CLNT_JOB_POSITION_TYPE              310409
CLNT_JOB_POSITION                   248634
APP_DRIVING_LICENSE                 297933
APP_EDUCATION                       287086
APP_TRAVEL_PASS                     297933
APP_CAR                             297934
APP_POSITION_TYPE                   294645
APP_EMP_TYPE                        287828
PACK                                     0
dtype: int64

Lots of missing values in categorical columns but they will be dropped by get_dummies()

# Transformations

In [20]:
df.dtypes.value_counts()

object     55
float64    40
int64       8
dtype: int64

## Scaling

In [21]:
columns_to_scale = df.select_dtypes(exclude='O').columns.to_list()
columns_to_scale.remove('TARGET')

In [22]:
scaler = StandardScaler()
df.loc[:, columns_to_scale] = scaler.fit_transform(df.loc[:, columns_to_scale])
df

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,TURNOVER_DYNAMIC_IL_1M,LDEAL_YQZ_COM_GROUP,LDEAL_YQZ_CHRG_GROUP,AVG_PCT_MONTH_TO_PCLOSE_GROUP,MAX_PCLOSE_DATE_GROUP,AVG_PCT_DEBT_TO_DEAL_AMT_GROUP,LDEAL_AMT_MONTH_GROUP,LDEAL_YQZ_PC_GROUP,...,CLNT_SETUP_TENOR,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_DYNAMIC_PAYM_1M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,REST_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CC_3M,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
146841,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.948052,-0.347604,-0.240313,-0.363365,-0.808123,-0.083103,-0.032303,-0.109613,-0.071988,0
146842,-0.243932,0.016835,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.949882,-0.347604,-0.240313,-0.703305,-0.201842,-0.083103,-0.032303,-0.109613,-0.071988,0
146843,-0.243932,-0.313313,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.949882,-0.347604,-0.240313,-0.684133,-1.286775,-0.083103,-0.032303,-0.109613,-0.071988,0
146844,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.951351,-0.347604,-0.240313,-0.098373,-0.143394,-0.083103,-0.032303,-0.109613,-0.071988,0
146845,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.951351,-0.347604,-0.240313,0.129454,0.127082,-0.083103,-0.032303,-0.109613,-0.071988,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590822,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.562006,-0.347604,-0.240313,0.311241,0.848562,-0.083103,-0.032303,-0.109613,-0.071988,0
590823,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.562006,-0.347604,-0.240313,0.286606,-0.400568,-0.083103,-0.032303,-0.109613,-0.071988,0
590825,-0.243932,0.019401,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.562922,-0.347604,-0.240313,-0.496155,-0.577500,-0.083103,-0.032303,-0.109613,-0.071988,0
590826,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.562922,-0.347604,-0.240313,1.618084,1.785410,-0.083103,-0.032303,-0.109613,-0.071988,0
590828,-0.243932,-0.380232,-0.044824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.561091,-0.347604,-0.240313,-0.098373,-0.143394,-0.083103,-0.032303,-0.109613,-0.071988,1

## One-hot encoding

### With job positions

In [23]:
text_cols = df.select_dtypes(include='O').columns.to_list()

In [24]:
df_with_jobs = pd.get_dummies(df, columns = text_cols); df_with_jobs

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,TURNOVER_DYNAMIC_IL_1M,AMOUNT_RUB_SUP_PRC,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_SAVE_3M,CR_PROD_CNT_VCU,REST_AVG_CUR,AMOUNT_RUB_NAS_PRC,TRANS_COUNT_SUP_PRC,...,PACK_103,PACK_104,PACK_105,PACK_107,PACK_108,PACK_109,PACK_301,PACK_k01,PACK_m01,PACK_o01
ID,,,,,,,,,,,,,,,,,,,,,
146841,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,2.356500,-0.169589,0.477531,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0
146842,-0.243932,0.016835,-0.044824,1.221828,-0.05133,-0.312371,-0.169589,-0.330458,-0.248485,1.446347,...,0,0,0,0,0,0,0,0,0,0
146843,-0.243932,-0.313313,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,0.247411,-0.248485,-1.004598,...,0,0,0,0,0,0,0,0,0,0
146844,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.283428,-0.169589,-0.124857,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0
146845,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,0.029532,-0.248485,-1.004598,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590822,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,-0.301613,-0.248485,-1.004598,...,0,1,0,0,0,0,0,0,0,0
590823,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,1.927086,2.804227,-1.004598,...,0,1,0,0,0,0,0,0,0,0
590825,-0.243932,0.019401,-0.044824,0.119528,-0.05133,-0.312371,-0.169589,0.843853,0.113815,0.135764,...,0,0,0,0,0,0,0,1,0,0
590826,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,-0.288932,3.034981,-1.004598,...,0,0,0,0,0,0,0,0,0,1
590828,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.294876,-0.169589,-0.292957,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0

In [25]:
df_with_jobs.isna().sum().sum()

0

There are no missing data left.

In [26]:
df_with_jobs.to_csv('bank_data_with_jobs.csv')

### Without job positions

In [27]:
df.drop(columns='CLNT_JOB_POSITION', inplace=True); df.shape

(355190, 102)

In [28]:
text_cols = df.select_dtypes(include='O').columns.to_list()

In [29]:
df_without_jobs = pd.get_dummies(df, columns = text_cols); df_without_jobs

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,TURNOVER_DYNAMIC_IL_1M,AMOUNT_RUB_SUP_PRC,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_SAVE_3M,CR_PROD_CNT_VCU,REST_AVG_CUR,AMOUNT_RUB_NAS_PRC,TRANS_COUNT_SUP_PRC,...,PACK_103,PACK_104,PACK_105,PACK_107,PACK_108,PACK_109,PACK_301,PACK_k01,PACK_m01,PACK_o01
ID,,,,,,,,,,,,,,,,,,,,,
146841,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,2.356500,-0.169589,0.477531,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0
146842,-0.243932,0.016835,-0.044824,1.221828,-0.05133,-0.312371,-0.169589,-0.330458,-0.248485,1.446347,...,0,0,0,0,0,0,0,0,0,0
146843,-0.243932,-0.313313,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,0.247411,-0.248485,-1.004598,...,0,0,0,0,0,0,0,0,0,0
146844,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.283428,-0.169589,-0.124857,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0
146845,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,0.029532,-0.248485,-1.004598,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590822,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,-0.301613,-0.248485,-1.004598,...,0,1,0,0,0,0,0,0,0,0
590823,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,1.927086,2.804227,-1.004598,...,0,1,0,0,0,0,0,0,0,0
590825,-0.243932,0.019401,-0.044824,0.119528,-0.05133,-0.312371,-0.169589,0.843853,0.113815,0.135764,...,0,0,0,0,0,0,0,1,0,0
590826,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.312371,-0.169589,-0.288932,3.034981,-1.004598,...,0,0,0,0,0,0,0,0,0,1
590828,-0.243932,-0.380232,-0.044824,-0.582347,-0.05133,-0.294876,-0.169589,-0.292957,-0.248485,-1.004598,...,0,0,0,0,0,0,0,1,0,0

In [30]:
df_without_jobs.isna().sum().sum()

0

In [31]:
df_without_jobs.to_csv('bank_data_without_jobs.csv')